.App {
  text-align: center;
}

.tabs {
  color: whitesmoke;
  border-radius: 15%;
  box-shadow: 3px 8px;
  background-color:#e5e5e5;
  width:180px;
  height: 100px;
  padding-top: 25px;
  text-align: center;
  margin-left: 85px;
  margin-bottom: 30px;
  float: left;
}

.tabs:hover .entry {
  color: gold;
  font-size: 50px;
  border-radius: 50%;
  
}

.tabs:hover {
  background-color: black;
  box-shadow: 8px 13px;
  }

  .tabs:hover .subtitle {
    font-weight: 700;  
  }  



.entry {
  
  color: #1c1c1e;
  font-size: xx-large;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.subtitle {
  color: grey;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

h1 {
  text-align: center;
  color: gray;
}

img {
  height: 200px;
  width: 250px;
  margin-left: 95px;
}

img:hover {
  border: #000000 0.8px solid;
  border-radius: 10%;
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
  background-color: #282c34;
  width: 100%;
  color: whitesmoke;
  height: 100%;
}



button {
  background-color: #586b94; /* Gold */
  border: none;
  color: whitesmoke;
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;  
  display: inline-block;
  font-size: 10px;
}

input {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.small {
  color: grey;
}

.in {
  width: 250px;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;

  
  }

  /* Add a black background color to the top navigation */
.topnav {
  background-color: #1c1c1e;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: gold;
}